.listStyle {
    height: fit-content;
    padding: 10px;
    background-color:bisque;
    width: fit-content;
    border: solid 3px black;
    margin-bottom: 30px;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color:slateblue;
}